@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  background-color: #000;
  color-scheme: dark;
  overflow: hidden;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
